<!Doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Pokemon</title>
        <script type="text/javascript" scr ="{% static js/jquery-3.0.0.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <h3> 트레이너 이름 : {{ trainer_detail.name }} </h3>
            <h4> 트레이너 나이 : {{ trainer_detail.age }} </h4>
            <h4> 트레이너 국적 : {{ trainer_detail.country }}
        </div>
    </body>
</html>