{% load bootstrap3 %}
{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Programming Blog</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HYERIN</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="{% url 'home' %}">Home</a></li>
            <li class="active"><a href="{% url 'about' %}">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="{% url 'add_info' %}">Add</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

     <div class="container">
        <div class="row">
        <img src ="{% static 'img/hanyang_symbol.jpg' %}" width = 300px />
                        <h3>한양대학교 정보시스템학과</h3>
                        <h3>94년생</h3>
        </div>
        {% for video in video_list %}
                <div align="center">
                         <h3>{{video.title}}</h3>
                <video >
                {{ video.video.url  }}
                        <source src="{{video.video.url}}" type="video/mp4">
                </video>
                </div>
        {% endfor %}
    </div>
    </body>
    </html>